.checkboxLabel {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1;
}

.checkboxInput {
    margin: 2px 0 0 0;
    display: grid;
    place-content: center;
    font: inherit;
    color: currentColor;
    width: 16px;
    height: 16px;
    border: 1px solid #E1E0E5;
    appearance: none;
    background-color: transparent;
}

.checkboxInput:before {
    content: "";
    width: 10px;
    height: 8px;
    clip-path: polygon( 27.845% 97.293%,27.845% 97.293%,28.087% 97.613%,28.345% 97.903%,28.617% 98.161%,28.901% 98.388%,29.196% 98.583%,29.501% 98.744%,29.815% 98.87%,30.135% 98.962%,30.461% 99.017%,30.791% 99.036%,30.791% 99.036%,31.12% 99.017%,31.446% 98.962%,31.766% 98.87%,32.08% 98.744%,32.385% 98.583%,32.68% 98.388%,32.964% 98.161%,33.236% 97.903%,33.494% 97.613%,33.736% 97.293%,90.403% 16.34%,90.403% 16.34%,90.627% 15.994%,90.831% 15.625%,91.012% 15.236%,91.171% 14.829%,91.307% 14.407%,91.42% 13.971%,91.509% 13.522%,91.573% 13.064%,91.612% 12.598%,91.625% 12.126%,91.625% 12.126%,91.612% 11.654%,91.573% 11.188%,91.509% 10.73%,91.42% 10.282%,91.307% 9.845%,91.171% 9.423%,91.012% 9.016%,90.831% 8.628%,90.627% 8.259%,90.403% 7.912%,90.403% 7.912%,90.16% 7.591%,89.902% 7.301%,89.63% 7.042%,89.345% 6.815%,89.05% 6.62%,88.744% 6.459%,88.43% 6.332%,88.11% 6.241%,87.783% 6.185%,87.453% 6.166%,87.453% 6.166%,87.123% 6.185%,86.796% 6.241%,86.476% 6.332%,86.162% 6.459%,85.856% 6.62%,85.561% 6.815%,85.276% 7.042%,85.004% 7.301%,84.746% 7.591%,84.503% 7.912%,57.645% 46.287%,30.786% 84.662%,7.061% 50.781%,7.061% 50.781%,6.818% 50.47%,6.56% 50.19%,6.288% 49.939%,6.005% 49.721%,5.711% 49.534%,5.408% 49.38%,5.097% 49.26%,4.779% 49.175%,4.457% 49.124%,4.13% 49.11%,4.13% 49.11%,3.804% 49.133%,3.482% 49.191%,3.166% 49.284%,2.857% 49.412%,2.555% 49.573%,2.264% 49.767%,1.983% 49.993%,1.715% 50.25%,1.46% 50.537%,1.22% 50.853%,1.22% 50.853%,0.999% 51.196%,0.798% 51.56%,0.618% 51.943%,0.46% 52.344%,0.324% 52.761%,0.211% 53.191%,0.122% 53.633%,0.056% 54.085%,0.016% 54.545%,0% 55.011%,0% 55.011%,0.01% 55.477%,0.045% 55.938%,0.105% 56.391%,0.189% 56.835%,0.297% 57.268%,0.427% 57.688%,0.581% 58.093%,0.756% 58.481%,0.952% 58.85%,1.17% 59.198%,27.845% 97.293% );
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #E1E0E5;
    background-color: #E1E0E5;
}

.checkboxInput:checked:before {
    transform: scale(1);
}

.checkboxText {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .checkboxText {
        font-size: 16px;
    }
}